

/* works.css */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .img {
    animation: fadeInUp 1s ;
    transform: scale(0.9); 
  }
  
  /* .small-box {
    animation: fadeInUp 0.5s ease forwards;
  } */
  
  .img:hover {
    transform: scale(1); 
}