@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    scroll-behavior: smooth;
    /* font-family: 'Roboto' */
  }

  /* *{
    background-color: #f4f1f1;
} */
/* body {
    cursor: url("./images/cursor.png") 100 100, auto;
  } */